<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章重复率检测</title>
</head>
<body>
<header>
    <h1 align="center"> 文章重复率检测 </h1>
</header>
<div align="center" style="margin-top:10px">
    <div style="font-size:24px">文章输入:</div>
    <form method="POST" name="form1">
        <textarea type="text" name="content_1"  style="width:600px; height:600px;border: 1px solid #000; word-wrap:break-word;overflow: scroll"></textarea>
        <textarea type="text" name="content_2"  style="width:600px; height:600px;border: 1px solid #000; word-wrap:break-word;overflow: scroll"></textarea>
        <div>
            <input type="submit" value="一键计算" style="font-size:16px"/>
        </div>
        <div style="padding:30px;"></div>
        <div style="font-size:24px">重复率计算结果:</div>
        <textarea type="text" name="rate" readonly="readonly"  rows="10"
             style="width:600px; height:100px;border: 1px solid #000; word-wrap:break-word;overflow: scroll"></textarea>
    </form>
</div>

</body>
</html>